@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600);

@font-face {
  font-family: 'Poppins';
  src: url('Fonts/Poppins-Regular.woff') format('woff'),
    url('Fonts/Poppins-Regular.woff2') format('woff2'),
    url('Fonts/Poppins-Regular.ttf') format('truetype');
}

.root {
  margin: 0 auto;
  font-family: 'Poppins', 'Arial', serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1440px;
}

/* header start */
.header {
  height: 800px;
  background-image: url(../img/header/header__bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 54px 54px;
  color: white;
}

.container--header {
  padding: 32px 0 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* nav start */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-img {
}

.nav-list {
  display: flex;
  column-gap: 54px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.nav__item {
}

.nav__item-link {
  color: white;
  opacity: 70%;
}

.nav__item-link--active {
  font-weight: 400;
  opacity: 100%;
}

.nav__user {
  display: flex;
}

.user-content {
  margin-right: 8px;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
}

.user-content__span {
  opacity: 50%;
}

.user-content__name {
  font-weight: 600;
}

.user-avatar {
  position: relative;
}

.user-avatar::after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: red;
  z-index: 2;
}

.user-avatar__image {
  max-width: 48px;
  max-height: 48px;
  border-radius: 50%;
}
/* nav end */

/* header__main start */
.header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.header__title {
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 32px;
}

.btn-discover {
  width: 273px;
  height: 72px;
  border-radius: 12px;
  background: #7F6Bff;
}

.btn-discover-icon {
  margin-right: 10px;
  max-width: 20px;
  max-height: 20px;
}

.header__btn-text {
  font-size: 18px;
  line-height: 24px;
}
/* header__main end */

/* form start */
.form {
  margin: 0 auto;
  padding: 8px;
  width: 1140px;
  height: 88px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background: white;
  color: #000;
}

.form__search-row {
}

.search-row__list {
  display: flex;
}

.search-row__item {
}

.search-row__item-wrap {
  padding: 16px 20px 16px 56px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: 16px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.search-row__item-wrap--location {
  width: 300px;
  background-image: url(../img/header/header__search-row--location.svg);
}

.search-row__item-wrap--activities {
  width: 255px;
  background-image: url(../img/header/header__search-row--activity.svg);
}

.search-row__item-wrap--date {
  width: 255px;
  background-image: url(../img/header/header__search-row--calendar.svg);
}

.search-row__item-wrap--guests {
  width: 255px;
  background-image: url(../img/header/header__search-row--guests.svg);
}

.search-row__label {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #5B5B5B;
}

.search-row__select {
}
.search-row__span {
}


.btn-search {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background: #7B61FF;
}

.btn-search__icon {
}
/* form end */
/* header end */

/* main start */
.main {
  padding: 120px 0;
  display: grid;
  gap: 120px;
}

/* section "destinations" start */
.section {
}
.section--destinations {
}

.container {
}

.container--destinations {
}

.section__header {
  margin-bottom: 64px;
}

.section__header--destinations {
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

.section__cards {
  display: grid;
  gap: 32px;
}

.section__cards--destinations {
  grid-template-columns: repeat(6, 203px);
}

.card {
}
.card--destinations {
  position: relative;
}

.card__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__figure {
}

.card__img {
  border-radius: 12px;
}

.card__img--destinations {
  margin-bottom: 8px;
}

.card__figcaption {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.card__footer-location {
  position: relative;
  z-index: 1;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #979797;
}

.card__footer-location:hover {
  color: #7B61FF;
}
/* section "destinations" end */

/* main end */