@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600);

.root {
  margin: 0 auto;
  font-family: 'Poppins', 'Arial', serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1440px;
}

/* header start */
.header {
  height: 800px;
  background-image: url(../img/header/header__bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 54px 54px;
  color: white;
}

.container--header {
  padding: 32px 32px 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* nav start */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-img {
}

.nav-list {
  display: flex;
  column-gap: 54px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.nav__item {
}

.nav__item-link {
  color: white;
  opacity: 70%;
}

.nav__item-link--active {
  font-weight: 400;
  opacity: 100%;
}

.nav__user {
  display: flex;
}

.user-content {
  margin-right: 8px;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
}

.user-content__span {
  opacity: 50%;
}

.user-content__name {
  font-weight: 600;
}

.user-avatar {
  position: relative;
}

.user-avatar::after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: red;
  z-index: 2;
}

.user-avatar__image {
  max-width: 48px;
  max-height: 48px;
  border-radius: 50%;
}
/* nav end */

/* header__main start */
.header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.header__title {
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 32px;
}

.btn-discover {
  width: 273px;
  height: 72px;
  border-radius: 12px;
  background: #7F6Bff;
}

.btn-discover-icon {
  margin-right: 10px;
  max-width: 20px;
  max-height: 20px;
}

.header__btn-text {
  font-size: 18px;
  line-height: 24px;
}
/* header__main end */

/* form start */
.form {
  margin: 0 auto;
  padding: 8px;
  width: 1140px;
  height: 88px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background: white;
  color: #000;
}

.form--header {
}

.form__list {
  display: flex;
}

.form__item {
}

.form__wrap {
  padding: 16px 20px 16px 56px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: 16px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.form__wrap--location {
  width: 300px;
  background-image: url(../img/header/header__form--location.svg);
}

.form__wrap--activities {
  width: 255px;
  background-image: url(../img/header/header__form--activity.svg);
}

.form__wrap--date {
  width: 255px;
  background-image: url(../img/header/header__form--calendar.svg);
}

.form__wrap--guests {
  width: 255px;
  background-image: url(../img/header/header__form--guests.svg);
}

.form__label {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #5B5B5B;
}

.form__select {
}
.form__span {
}


.btn-search {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background: #7B61FF;
}

.btn-search__icon {
}
/* form end */
/* header end */

/* main start */
.main {
  padding: 120px 0;
  display: grid;
  row-gap: 120px;
}

/* section "destinations" start */
.section {
}
.section--destinations {
}

.container {
}

.container--destinations {
}

.section__header {
  margin-bottom: 64px;
}

.section__header--destinations {
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

.section__cards {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  justify-content: center;
  gap: 32px;
}

@media screen and (max-width: 1919px) {
  .section__cards {
    grid-template-columns: repeat(2, 320px);
  }  
}

.section__cards--destinations {
  grid-template-columns: repeat(6, 203px);
}

@media screen and (max-width: 1919px) {
  .section__cards--destinations {
    grid-template-columns: repeat(3, 203px);
  }
}

.card {
}

.card--destinations {
}

.card__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__figure {
  position: relative;
}

.card__img {
  border-radius: 12px;
}

.card__img--destinations {
  margin-bottom: 8px;
}

.card__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.card__footer-location {
  position: relative;
  z-index: 1;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #979797;
}

.card__footer-location:hover {
  color: #7B61FF;
}
/* section "destinations" end */
/* section "hotels-restaurants" start */
.section {
  
}
.section--hotels-restaurants {
}
.container {
}
.container--hotels-restaurants {
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__header--hotels-restaurants {
}
.title {
}

.btn {
  font-size: 16px;
}

.btn-more {
  padding: 10px;
  height: 44px;
  width: 105px;
  display: flex;
  align-items: center;
  column-gap: 7.3px;
  border-radius: 12px;
  background: #F6F4FF;
}

.icon-arrow {
  height: 13px;
  width: 13px;
}

.section__cards {
}

.section__cards--hotels-restaurants {
}

.card {
}
.card--hotels-restaurants {
}
.card__link {
}
.card__figure {
}

.card__figure--hotels-restaurants {
  margin-bottom: 12px;
}

.card__img {
}

.card__img--hotels-restaurants {
  margin-bottom: 10px;
}

.card__title {
}

.card__footer {
  display: flex;
  align-items: center;
}

.card__footer--hotels-restaurants {
  justify-content: space-between;
  background-image: url(../img/hotels/hotels__icon-location.svg);
  background-size: 12px 14.5px;
  background-repeat: no-repeat;
  background-position: 2px 4px;
}

.card__footer-location--hotels-restaurants {
  padding-left: 20px;
}

.card-rating {
}
.card-star {
  height: 14.5px;
  width: 15px;
}
/* section "hotels-restaurants" end */

/* section "travel-tips" start */
.section {
}
.section--travel-tips {
}
.container {
}
.container--travel-tips {
}
.section__header {
}
.section__header--travel-tips {
}
.title {
}
.btn {
}
.btn-more {
}
.icon-arrow {
}
.section__cards {
}

.section__cards--travel-tips {
}

.card {
}
.card--travel-tips {
}
.card__link {
}
.card__img {
}
.card__img--travel-tips {
}
.card__title {
}

.card__title--travel-tips {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.description {
  font-size: 16px;
  line-height: 32px;
  color: #5B5B5B;
}

.card__description {
  margin-bottom: 124px;
}

.card__footer {
}

.card__footer--travel-tips {
  font-size: 12px;
  line-height: 18px;
  color: #878787;
}

.card__footer-span {
  padding-left: 44px;
  background-repeat: no-repeat;
  background-position: 25px 1.5px;
}

.card__footer-span--date {
  padding-left: 20px;
  background-image: url(../img/travel-tips/travel-tips__icon-calendar.svg);
  background-position: 0;
}

.card__footer-span--author {
  background-image: url(../img/travel-tips/travel-tips__icon-person.svg);
}

.card__footer-span--comments {
  background-image: url(../img/travel-tips/travel-tips__icon-chat.svg);
}
/* section "travel-tips" end */

/* section "activities" start */
.section {
}
.section--activities {
}
.container {
}
.container--activities {
}
.section__header {
}
.section__header--activities {
}
.title {
}
.btn {
}
.btn-more {
}
.icon-arrow {
}
.section__cards {
}

.section__cards--activities {
}

.card {
}
.card--activities {
}
.card__link {
}
.card__figure {
}
.card__img {
}
.card__img--activities {
  margin-bottom: 16px;
}

.card__title {
}
/* section "activities" end */

/* section "about-us" start */
.section {
}
.section--about-us {
}
.container {
}
.container--about-us {
}
.section__cards {
}

.section__cards--about-us {
  grid-template-columns: repeat(2, 556px);
  justify-content: center;
}

.card {
}

.card--about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.title {
}
.description {
}
.btn {
}
.btn-more {
}

.btn-more--read {
  width: 133px;
  height: 44px;
}

.icon-arrow {
}
.img {
}
.img--about-us {
  border-radius: 24px;
}
/* section "about-us" end */

/* main end */