@font-face {
  font-family: 'Poppins';
  src: url('Fonts/Poppins-Regular.woff') format('woff'),
    url('Fonts/Poppins-Regular.woff2') format('woff2'),
    url('Fonts/Poppins-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.root {
  top: 0;
  font-family: 'Poppins', "Times New Roman", serif;
}

.title {
}

.btn {
  background: #7B61FF;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.header {
  padding-top: 31px;
  background-image: url(img/header__bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 54px 54px;
}

.container {
  margin: 0 auto;
  max-width: 1376px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

.nav__logo-link {
}

.header__logo-img {
  width: 87px;
  height: 35px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 54px;
}

.nav__item {
}

.nav__item-link {
  font-weight: 300;
  color: #B3B4B4;
}

.nav__item-link--active {
  font-weight: 400;
  color: #fff;
}

.nav__user {
  display: flex;
  gap: 8px;
}

.user-content {
  align-self: center;
  font-weight: 400;
  text-align: right;
}

.user-content__span {
  color: #818182;
}

.user-content__name {
  font-weight: 600;
}

.user-avatar {
}

.user-avatar__image {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.header__title {
  margin-bottom: 32px;
  padding-top: 183px;
  font-size: 48px;
  font-weight: 600;
  line-height: 62px;
}

.btn-discover {
  margin-bottom: 184px;
  width: 273px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__btn-icon {
  width: 20px;
  height: 20px;
}

.header__btn-text {
  color: #fff;
}

.search-row {
  margin-bottom: 100px;
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background: #fff;
}

.search-row__list {
  display: flex;
  color: #000;
}

.search-row__item {
  min-width: 254px;
  height: 72px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.search-row__icon {
  margin-left: 18px;
  width: 20px;
  height: 20px;
}

.search-row__item-wrap {
  display: flex;
  flex-direction: column;
}

.search-row__span {
}

.search-row__select {
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.btn-search {
  width: 60px;
  height: 60px;
}

.btn-search__icon {
  width: 20px;
  height: 20px;
}